.jumbotron{
    text-align: center;
    background-image: url(texture-tic-tac-toe-vector-13711453.jpg);
    background-size: 30%;
    min-height: 200px;

}

#board tr td{
    height: 150px;
    width: 150px;
    border: 5px double black;
    text-align: center;
    align-content: center;
    font-size: 50px;

}

.col-sm-4{
    text-align: center;
    margin-bottom: 50px;
    border-bottom: double;
}

#title{
    font-family: fantasy;
    font-weight: bolder;
}

#restart{
    text-align: center;
   margin-top: 20px;
    
}